#issue-container {
    text-align: center;
    padding: 0 0 0 15px;
}

#issue-container img{
    border: 1px solid #000;
    border-radius: 5px;
}

#issue-container .issue-desciption {
    padding: 10px;	
}

#issue-container .issue-desciption span {
    display: block;
    text-align: left;
}
