html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}
header {
  height: 80px;
  color: white;
  background-color: #ea556f;
  font-size: 24;
  width: 100%;
  text-align: center;
}
header a {
  color: #ffffff;
  text-decoration: none;
}
header a:hover {
  color: #ffffff;
  text-decoration: none;
}
header a:visited {
  color: #ffffff;
  text-decoration: none;
}
#main-banner,
#cry-out-button {
  float: left;
  width: 100px;
  height: 80px;
  line-height: 70px;
}
#about-button,
#login-button,
#logout-button {
  float: right;
  width: 100px;
  height: 80px;
  line-height: 70px;
}
#profile {
  float: right;
  min-width: 25%;
  height: 80px;
  line-height: 20px;
  padding-top: 15px;
  font-size: 11px;
}
#main-banner {
  font-style: italic;
  background-color: #d5445c;
}
#about-button:hover,
#login-button:hover,
#cry-out-button:hover,
#logout-button:hover,
#profile:hover {
  background-color: #e04c65;
  cursor: pointer;
  border: 1px;
}
#main-banner:hover {
  background-color: #c84157;
  cursor: pointer;
  border: 1px;
}
#page,
#main-container,
#map-canvas {
  height: 100%;
}
#sidebar {
  display: block;
}
#sidebar p {
  margin: 0 0 10px 12px;
}
.center-pills {
  display: flex;
  justify-content: center;
}
.center-pills li {
  width: 33%;
}
.form-group {
  margin-left: 10px;
  margin-top: 10px;
  padding-left: 5%;
}
.form-group label {
  font-weight: bold;
}
.form-group input {
  width: 95%;
}
#photo p {
  margin-left: 5%;
  margin-top: 20px;
  border: 1px dashed grey;
  padding: 3px;
  width: 90%;
}
#point p {
  margin-left: 5%;
  margin-top: 10px;
}
#point button,
#photo button {
  margin-left: 5%;
}
