<div id ="manager-cont" class="row">
    <div class="col-lg-3 col-md-3 sidebar-mobile" id="left-sidebar" >
        <div class="profile row"> 
            <div class="avatar col-lg-3 col-md-4 col-sm-12 col-xs-12"> 
                <div id="avatarover">
                    <img id="avatarimg" src="<%if(user.avatar_url){%><%=user.avatar_url%><%}else{%>img/anonymus.png<%}%>" alt="avatar"> 
                </div>
            </div>
                <div class="profile-info col-lg-9 col-md-8 col-sm-9 col-xs-9">
                    <p><%=user.email%></p>
                    <button type="submit" id="small-logout-btn">Logout</button>
                </div>
        </div>
            <ul>
                <li id="add-user">Add user</li>
                <li id="check-user">Check user</li>
            </ul>
<div class="modal fade" id="AddUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add User</h4>
      </div>
      <div class="modal-body">
        <form id="add-user-form" class="form-horizontal col-md-9">
          <div class="form-group">
          <label for="email" class="col-sm-4 control-label">Email</label>
          <div class="col-sm-8">
          <input type="email" name="email" id="email" class="form-control">
          </div>
          </div>
          <div class="form-group">
          <label for="password" class="col-sm-4 control-label">Password</label>
          <div class="col-sm-8">
          <input type="password" name="password" id="password" class="form-control">
          </div>
          </div>
          <div class="form-group">
          <label for="confirm-password" class="col-sm-4 control-label">Confirm Pass</label>
          <div class="col-sm-8">
          <input type="password" name="confpass" class="form-control" id="confpass">
          </div>
          </div> 
        </form>
        <div class="user-picture col-md-3">
        <label class="col-lg-4 col-md-4 col-sm-4 col-xs-4" for="photo">Your Photo </label>
        <div class="form-group">
          <div class="image-upload col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <label for="imgInp">
              <div id="over">
                <img id="blah" src="img/anonymus.png" class="img-thumbnail">
              </div>
            </label>
            <input  type="file" id="imgInp"/>
          </div>
        </div>
        </div>   
         
      </div>
      <div class="clearfix"></div>
      <div class="modal-footer">
        <button type="button" class="btn" id="adduser-btn">Submit</button>
        <button type="button" class="btn" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div> 
    </div>
        <!-- Modal -->
 
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12" id="manager-panel">
        <span class="fa fa-align-justify" id="left-sidebar-btn"></span>
        <form  id="search-form" action="/issue/search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search..." name="search" value="<%= search %>" required minlength="2"> 
                <button type="submit" id="search-btn">Search</button>
            </div>
            <div class="clearfix"></div>
            <p class="text-info"></p>
            <div class="checkbox">
                <label>
                  <input type="checkbox" name="nameCheckbox" value="1">Name
                </label>
            </div>
            <div class="checkbox">
                <label>
                  <input type="checkbox" name="descriptionCheckbox" value="1">Description
                </label>
            </div>
            <div class="checkbox">
                <label>
                  <input type="checkbox" name="categoryCheckbox" value="1">Category
                </label>
            </div>            
        </form>
        <div class="table-responsive">  
<table class="table table-bordered table-hover table-condensed">
   <thead>
     <tr>
       <th scope="col">ID</th>
       <th scope="col">Email</th>
       <th scope="col">Role</th>
       <th scope="col">Status</th>
       <th scope="col">Options</th>
     </tr>
   </thead>
<tbody>
<% _.each(users, function(useritem) { %>
     <tr data-id="<%=useritem.get('id')%>">
        <td><%= useritem.id %></td>
        <td><%= useritem.get('email') %></td>
        <td><%= useritem.get('role_id') %></td>        
        <td><%= useritem.get('status_id') %></td>
        <td class="edit-icons">
          <a href="#issue/<%= useritem.id %>" target="_blank"><i class="fa fa-file-text-o"></i></a>
          <a href="#"><i class="fa fa-pencil"></i></a>
          <a href="#"><i class="fa fa-thumbs-o-up"></i></a>
          <a href="#"><i class="fa fa-thumbs-o-down"></i></a>
        </i></td>
<% }) %>
     </tr>
   </tbody>
 </table>
</div>
    </div>      
</div>

