<div class="col-xs-8">
	<div class="col-xs-12">
		<br/>
		Change password:
		<form role="form">
			<div class="form-group">
				<label for="pwd-old">Old password:</label>
				<input type="password" class="form-control" id="pwd-old">
			</div>
			<div class="form-group">
				<label for="pwd-new">New password:</label>
				<input type="password" class="form-control" id="pwd-new">
			</div> 
			<div class="form-group">
				<label for="pwd-confirm">Confirm password:</label>
				<input type="password" class="form-control" id="pwd-confirm">
				</div>
				<button type="submit" id="password-change-button" class="btn btn-default">Change</button>
		</form>
	</div>
</div>