<div id="cry-out-container">
  <h1>Add new issue</h1>
  <div class="text-center">
    <ul class="nav nav-tabs center-pills" role="tablist">
      <li role="presentation" class="issue-tab set-location active"><a href="#point" aria-controls="home" role="tab" data-toggle="tab">Coordinates</a></li>
      <li role="presentation" class="issue-tab set-description"><a href="#description" aria-controls="profile" role="tab" data-toggle="tab">Description</a></li>
      <li role="presentation" class="issue-tab set-attachment"><a href="#photo" aria-controls="messages" role="tab" data-toggle="tab">Photo</a></li>
    </ul>
  </div>
  

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="point">
      <div class="form-group">
        <p class="issue-address">Відмітьте на карті місце розташування проблеми</p>
        <button class="btn-next">Next</button>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane form-horizontal" id="description">
      <div class="form-group">
        <label for="issue-name" class="col-sm-3 col-lg-4 control-label">Title:</label>
        <div class="col-sm-9 col-lg-8">
			<input type="text" id="issue-name" class="desc-data form-control">
		</div>
      </div>
      <div class="form-group">
        <label for="issue-type" class="col-sm-3 col-lg-4 control-label">Type:</label>
		<div class="col-sm-9 col-lg-8">
			<input type="text" id="issue-type" class="desc-data form-control">
		</div>
      </div>
      <div class="form-group">
        <label for="issue-description" class="col-sm-3 col-lg-4 control-label">Description:</label>
		<div class="col-sm-9 col-lg-8">
			<textarea id="issue-description" class="desc-data form-control"></textarea>
		</div>
      </div>
      <div class="form-group">
        <button class="btn-next" >Next</button>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="photo">
      <form enctype="multipart/form-data" method="post" id="fileform">
		<div class="img-container image_0">
			<div class="image-item-wrapp">
				<img src="/img/empty-image.png" class="photo-container">
				<input class="fileUpload" type="file" name="attachments[]">
				<button class="image-remove">Remove image</button>
			</div>
		</div>
      </form>
	  <div class="controll-buttons">
		<button class="more-image">Add image</button>
		<button id="AddIssueButton">Create new issue</button>
      </div>
    </div>
  </div>
</div>