



<div id="cry-out-container">
  <h1>Додати проблему</h1>
  <div class="text-center">
    <ul class="nav nav-tabs center-pills" role="tablist">
    <li role="presentation" class="issue-tab set-location active"><a href="#point" aria-controls="home" role="tab" data-toggle="tab">Точка</a></li>
	<li role="presentation" class="issue-tab set-description"><a href="#description" aria-controls="profile" role="tab" data-toggle="tab">Опис</a></li>
	<li role="presentation" class="issue-tab set-attachment"><a href="#photo" aria-controls="messages" role="tab" data-toggle="tab">Фото</a></li>
    </ul>
  </div>
 

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="point">
      <div class="form-group">
        <p class="issue-address">Відмітьте на карті місце розташування проблеми</p>
        <button class="btn-next">Далі</button>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="description">
      <div class="form-group">
      <label for="issue-name">Коротка назва проблеми</label>
      <input type="text" id="issue-name" class="desc-data form-control">
      </div>
      <div class="form-group">
      <label for="issue-type">Tип проблеми</label>
      <input type="text" id="issue-type" class="desc-data form-control">
      </div>
      <div class="form-group">
      <label for="issue-description">Опис проблеми</label>
      <input type="text" id="issue-description" class="desc-data form-control">
      </div>
      <div class="form-group">
      <button class="btn-next" >Далі</button>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="photo">
      <img src="#" id="photo-container" style="display:none">
	  <form enctype="multipart/form-data" method="post" id="fileform">
		<input id="fileUpload" type="file" name="attachments">
	  </form>
      <button id="AddIssueButton">Create new issue</button>
    </div>
  </div>
</div>