<div class="table-responsive">
<table class="table table-bordered table-hover table-condensed">
   <thead>
     <tr>
       <th>ID</th>
       <th>Name</th>
       <th>Category</th>
       <th>Description</th>
       <th>Date</th>
       <!--<th scope="col">Location</th>-->
       <th>Status</th>
       <th>Severity</th>
       <th>Action</th>
     </tr>
   </thead>
<tbody>
     <tr>
       <td>ID</td>
       <td>Name</td> 
       <td>Category</td> 
       <td>Description</td>
       <td>Date</td>
       <!-- Here will be load of all status availeble on Server -->
       <td>
        <select name="status" id="status" class="form-control">
        <option value="">Active</option>
        <option value="">Non-active</option>
        </select></td>
       <td>Severity</td>
       <td class="edit-icons">
        <a href="#"><i class="fa fa-floppy-o"></i></i></a>
        <a href="#"><i class="fa fa-thumbs-o-up"></i></a>
        <a href="#"><i class="fa fa-thumbs-o-down"></i></a>
        </td>     
     </tr>
   </tbody>
 </table>
</div>