<div id="main-banner" class="header-elements"><span>bawl</span></div>
<div id="cry-out-button" class="header-elements"><span>Cry out</span></div>
<div id="about-button" class="header-elements"><span>About</span></div>
<% if(logged_in){ %>
<div id="logout-button" class="header-elements" ><span><a href="#" id="logout-btn">Logout</a></span></div> 
<div id="profile" class="header-elements" ><span><a href="#myprofile" id="profile-lnk">Hello, <%=session.get("user").name%></a></span></div>
<% } else{ %>
<div id="login-button" class="header-elements" ><span><a href="#login" id="login">Login</a></span></div>
<% } %>       