<div class="container-fluid">
<form class="form-horizontal" id="issue_edit_form" role="form">
	<h2>Issue Edit (ID: <%= id %>)</h2>
	<div class="form-group">
    <label for="issue-name">Title</label>
    <input type="text" id="issue-name" class="desc-data form-control" value="<%= name %>">
    </div>
    <div class="form-group">
    <label for="issue-description">Description</label>
    <input type="text" id="issue-description" class="desc-data form-control"  value="<%= description %>">
    </div>
    <div class="form-group">
    <label for="issue-description">Severity</label>
    <input type="text" id="issue-description" class="desc-data form-control"  value="<%= severity %>">
    </div>
    <div class="form-group">
    <label for="issue-type">Category</label>
    <input type="text" id="issue-category" class="desc-data form-control"  value="<%= category %>">
    </div>
    
 	<div class="row">
	<div class="col-sm-6">
		<a id="issue_edit_save" class="btn btn-default btn-sm btn-block" role="button"><span class="glyphicon glyphicon-save"></span> Save Issue</a>
	</div>
	<div class="col-sm-6">
		<button id="issue_edit_cancel" class="btn btn-default btn-sm btn-block"><span class="glyphicon glyphicon-ban-circle"></span> Close</button>
	</div>

</form>
</div>