    <div id="main-container" class="row">
        <div class="left-sidebar col-lg-3 col-md-3 col-sm-3 col-xs-3" >
            <div class="profile row"> 
                <div class="avatar col-lg-3 col-md-4 col-sm-12 col-xs-12">   
                    <img src="img/sample-img.jpg" alt="avatar"> 
                </div>
                <div class="profile-info col-lg-9 col-md-8 col-sm-9 col-xs-9">
                    <p><%=user.email%></p>
                    <button type="submit" id="small-logout-btn">Logout</button>
                </div>
            </div>
            <ul>
                <li id="recentlyissues-link">Recently added</li>
                <li id="allissues-link">All problems</li>
                <li id="solvedissues-link">Solved</li>
                <li id="">Add category</li>
            </ul>
        </div>
        <div class="manager-panel col-lg-9 col-md-9 col-sm-9 col-xs-9" id="manager" >
            <form action="/search" class="search-form">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search..." name="search">
                    <button type="submit" id="search-btn">Search</button>
                </div>
            </form>     
        </div>
         
    </div>