<div id ="manager-cont" class="row">
    <div class="left-sd col-lg-3 col-md-3 col-sm-3 col-xs-3" id="left-sidebar" >
        <div class="profile row"> 
            <div class="avatar col-lg-3 col-md-4 col-sm-12 col-xs-12"> 
                <div id="avatarover">
                    <img id="avatarimg" src="<%if(user.avatar_url){%><%=user.avatar_url%><%}else{%>img/anonymus.png<%}%>" alt="avatar"> 
                </div>
            </div>
                <div class="profile-info col-lg-9 col-md-8 col-sm-9 col-xs-9">
                    <p><%=user.email%></p>
                    <button type="submit" id="small-logout-btn">Logout</button>
                </div>
        </div>
            <ul>
                <li id="recentlyissues-link">Recently added</li>
                <li id="allissues-link">All problems</li>
                <li id="solvedissues-link">Solved</li>
                <li id="">Add category</li>
            </ul>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12" id="manager-panel">
        <span class="fa fa-align-justify" id="left-sidebar-btn"></span>
        <form  id="search-form" action="/issue/search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search..." name="search" value=""> 
                <button type="submit" id="search-btn">Search</button>
            </div>
        </form>
    </div>         
</div>

