<div id ="profile-page-container" class="row">
    <div class="col-lg-3 col-md-3 sidebar-mobile" id="left-sidebar" >
        <div class="profile row"> 
            <div class="avatar col-lg-3 col-md-4 col-sm-12 col-xs-12"> 
                <div id="avatarover">
                    <img id="avatarimg" src="<%if(user.avatar_url){%><%=user.avatar_url%><%}else{%>img/anonymus.png<%}%>" alt="avatar"> 
                </div>
            </div>
                <div class="profile-info col-lg-9 col-md-8 col-sm-9 col-xs-9">
                    <p><%=user.email%></p>
                    <button type="submit" id="small-logout-btn">Logout</button>
                </div>
        </div>
            <ul>
                <li id="userinfo-link">My info</li>
                <li id="changepassword-link">Change password</li>
                <li id="myissues-link">My problems</li>
            </ul>
    </div>     
</div>

