
<div id ="manager-cont" class="row">
    <div class="col-lg-3 col-md-3 sidebar-mobile" id="left-sidebar" >
        <div class="profile row"> 
            <ul style = "margin-top:50px">
                <li id="about-link">Information about project</li>
                <li id="all-link">All</li>
                <li id="category-link">By category</li>
                <li id="status-link">By status</li>
                <li id="time-link">By time</li>
            </ul>
        </div>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12" id="statistic-panel" style="margin-top:15px">
        <div class = "row">
            <div class = "col-lg-6 col-md-6 col-sm-12 col-xs-12"  >
                <p style = "text-align:center; font-size:18px">Statuses</p>
                <div id="chart" style = "text-align:center"></div>
            </div>
             <div class = "col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <p style = "text-align:center; font-size:18px">Categories</p>
                <div id="chart2" style = "text-align:center"></div>
            </div>
        </div>
    </div>         
</div>


