<div  class="container-fluid notification">
    <div class="row" style="font-size:16px">
        <div class="alert-warning col-xs-12">Think twice!
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h4>Are you sure you want to remove this user (ID: <%= user_id %>)?</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
		    <a id="yes_i_want_to_remove_this_user" class="btn btn-default btn-sm btn-block" role="button"><span class="glyphicon glyphicon-ok"></span> Yes</a>
    	</div>
    	<div class="col-sm-6">
    		<button id="colorbox_close" class="btn btn-default btn-sm btn-block"><span class="glyphicon glyphicon-ban-circle"></span> No</button>
    	</div>
    </div>
</div>