<html>
<head>
	<title>bawl</title>
	<link rel="stylesheet" type="text/css" href="../styles/styles.css">
	<script src="../js/libs/jquery/jquery-2.1.4.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
	<script src="../js/libs/gmaps/markerclusterer.js"></script>
	<script src="../js/main.js"></script>
</head>
<body>
	<header>
		<div id="main-banner" class="header-elements"><span>bawl</span></div>
		<div id="cry-out-button" class="header-elements"><span>Cry out</span></div>
		<div id="about-button" class="header-elements"><span>About</span></div>
		<div id="login-button" class="header-elements"><span>Login</span></div>		
	</header>
	<div id="main-container">
		<div id="map-canvas"></div>
	</div>
</body>
</html>