<script src="../libs/jquery-2.1.4.js"></script>
<script src="../js/validation.js"></script>
<form id="login_form" action="#" method="post" accept-encoding="UTF-8">
	<p>Enter your <strong>email address</strong> and <strong>password</strong>.</p>
	<input type="email" id="email" name="email" size="40" value="" placeholder="you@domain.com" /><br /> <br />
	<input type="password" id="password" name="password" size="40" placeholder="password" /> <br /> <br />
	<button id="login_btn" type="submit" class="login_btn" />Login</button>
	<p><label class="checkbox"><input type="checkbox" name="remember" checked /> Keep me signed in</label></p>
	<p class="small"><a href="#">I forgot my password</a></p>				
</form>