@color-for-border: #489a37;

.form-wrapper {
    width: 300px;
    font-size: 12px;
	
	.form-group{
	  
	    input {
        margin-left: 5px;
		border-radius:0;
    }
	    label {
        font-size: 12px;
        font-weight: normal;
		margin-right: 10px;
    }
	    #login_btn {
        border-radius: 0;
        font-size: 12px;
        border-color: @color-for-border;
		margin-left: 15px;
    }
	}
}
#login-warn{
display:inline-block;
}
.row{
margin-right: 0px;
margin-left: 0px;
	}
