@header-background-color: #ea556f;
@left-sidebar-background:#f6f6f7;
html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}
header {
	min-height: 80px;
	color: white;
	background-color: @header-background-color;
	font-size: 24;
	width: 100%;
	text-align: center;
  a:link{
  color: #ffffff;
  text-decoration: none;
  }
  a:visited{
  color:#ffffff;
  text-decoration: none;  
  }
  a:hover{
    color:#ffffff;
    text-decoration: none;
  }
  a:active{
  color:#ffffff;
  text-decoration: none;     
  }
  ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
  }
  ul li{
  display: inline;
  float:left;
  width:100px;
  line-height: 80px;
  }
  ul li:hover{
  background-color: #e04c65;
  cursor: pointer;
  border:1px;
  }
  #login-button, #logout-button, #about-button{
  float: right;
  margin-right: 20px;
}

  #profile{
  float: right;
  min-width:200px;
  line-height: 40px;
  }
  #main-banner {
    font-style: italic;
    background-color:#d5445c;
  }
  #main-banner:hover {
    background-color: #c84157;
  }
}

.map-canvas-with-sb{
  width:70%;
}
.sb-show{
  width: 30%;
}

#page, #main-container, #map-canvas {
	height: 100%;
}
#sidebar{
  display:block;
	p{
	margin: 0 0 10px 12px;
	}
}
.center-pills {
    display: flex;
    justify-content: center;
}

.center-pills li{
    width: 33%;
}

.form-group {
  margin-left: 10px;
  margin-top: 10px;
  padding-left: 5%;
}
.form-group label{
  font-weight: bold;
}
.form-group input{
  width:95%;
}
#photo p{
  margin-left: 5%;
  margin-top: 20px;
  border: 1px dashed grey;
  padding: 3px;
  width: 90%;
}
#point p{
  margin-left: 5%;
  margin-top: 10px;
}
#point button, #photo button{
  margin-left: 5%;
}
#manager-cont{
  height:100%;
}
/*Styles for manager page */
#left-sidebar{
    background-color: @left-sidebar-background;
    height: 100%;
    /*display:block;*/
    .profile{
        margin: 10px 0 30px 0;
        min-height: 70px;
    }
  
    p{
        margin:0px;
        padding:0px;
        font-size: 12px;
        font-weight: bold;
    }
    button{
       border-color: @header-background-color;
       border-width: 1px;
       font-size: 12px;
       background-color:@left-sidebar-background;
       margin-top: 17px;
    }
    ul{
        padding: 0;
        margin: 0 0 0 10px;
        line-height: 20px;
    }
    ul li{
        list-style-type: none;
        line-height: 35px;
    }
    ul li a{
        text-decoration: none;
        color: inherit;
    }
    li:hover{
        cursor: pointer;
    }
}

#avatarimg {

  width: 100%;
  overflow: hidden;    
}

#avatarover {
  width: 70px;
  max-height: 70px;
  overflow: hidden;
  
}

#manager-panel{
  


    .form-group{
        padding:0px;
    }
    .fa-align-justify{
      display: none;
      font-size: 25px;
      margin-top: 10px;
    }
    input{
        float: left;
        width: 80%;
        border-radius: 0px;
        font-weight: normal;
    }
    button{
        min-width: 20%;
        min-height: 34px;
        color: #ffffff;
        font-size: 22px;
        border-width: 0px;
        background-color: @header-background-color;
    }
    
    .new-status{
        color: @header-background-color;
        font-weight: bold;
    }
    .form-group{
        margin-left: 0px;
        font-weight: bold;
    }
    .to-resolve-status{
      color:#63978c;
      font-weight: bold;
    }
    .approved-status{
      color: #508b7e;
    }
    .edit-icons a{
      text-decoration: none;
      color: inherit;
      font-size: 16px;
    }
    .edit-icons a:hover{
      color: #63978c;
    }

}

@media screen and (max-width: 990px){
  #manager-panel .fa-align-justify{
    display:block;
    cursor: pointer;
  }
  .sidebar-mobile{
    display: none;
  }
  .width50{
    width:50%;
  }
  #manager-panel input{
    width:50%;
  }
  header{
    ul li{
  display: block;
  float:none;
  width:100%;
  line-height: 40px;
    }
  #login-button, #logout-button, #about-button{
    margin: 0px;
    float: none;
  }  
  }
  /*#left-sidebar{
    display:none;
  }
  */
}
/*End of manager page styles */